@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
.navbar{
    padding: .8rem;
    padding-left: .5rem;
    margin: 0;
    background-color: navy;
}
.container > .row > .firstCol{
    box-shadow: 0 0 15px .5px rgb(192, 190, 190) ;
}

:root{
    --whiteColor:white;
    --navyColor:navy;
}
.navbar-nav > .nav-item > .nav-link{
    border-radius: 5px;
    margin: .5rem;
    color:var(--whiteColor);
    background-color:var(--navyColor);
}
.navbar-nav > .nav-item > .nav-link:hover{
    transition: all 0.5s ease-in-out;
    background-color: var(--whiteColor);
    color: var(--navyColor);

}
.col > #wrapper > .sm-btn{
    background-color: var(--whiteColor);
}
.col > #wrapper > .sm-btn:hover{
    background-color: #d3d3d3;
}
#imagee{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -4rem;
}
.icon-container{
    text-align: center;
}
.removeDIv{
    height:  56px;
    overflow: hidden;
}
.icon-container > a > i{
    color: var(--navyColor);
}
#sum{
    width: 60%;
    color: var(--navyColor);
}
.services{
    box-shadow: 0 0 3px  var(--navyColor);
}
.why{
    width: 60%;
}
/* .service{
    width: 9rem;
} */
#wrapper{
    justify-content: center;
    text-align: center;
}
#pageheader{
    font-size:3rem;
    color:  var(--navyColor);
}
#explore{
    background-color:  var(--navyColor);
    color: var(--whiteColor);
}
.jumbotron-fluid{
    margin-top: 4rem;
}
#explore:hover{
    transition:all 0.5s ease-in-out;
    background-color: var(--whiteColor);
    color:  var(--navyColor);
}
aside,#secondRow{
    color:  var(--navyColor);
}
#first-row{
    margin-top: 2rem;
}
.navbar > .container > .row > .col > .img-fluid > #image{
    width: 100%;
    object-fit: fill;
}
body{
    /* background-image: url(images/orange.jpg); */
    background-color: white;
    font-size: 1rem;
}
.btn{
    background-color: var(--whiteColor);
    color:  var(--navyColor);
    font-weight: 500;
}
.navbar > .container{
    margin: 0;
    margin-right: 0;
    background-size: contain;
}
.btn:hover{
    color:  var(--navyColor);
}
.card-footer{
    color: orange;
    background-color:  var(--navyColor);
}
h2,h3,h4{
    color:  var(--navyColor);
}
h1{
    color: var(--navyColor);
    margin-top: 1rem;
}
.container > .jumbotron > .page-header{
    color: var(--whiteColor);
}
.container > .page-header{
    margin-bottom: 2rem;
}
.navbar-toggler{
border: 2px solid  var(--navyColor);
background-color: var(--whiteColor);
}
#new-toggler{
    color:  var(--navyColor);
}
#image{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.imageShowcase{
    width:100%;
    height: 100%; 
}
.imageShowcaseCol{
    margin-bottom: 2rem;
}
#footer{
    
    font-weight: 500;
}
.upArrow{
    position: fixed;
    right:1rem;
    bottom: 5rem;
    height: 0;
    overflow: hidden;
}
.showupArrow{
    position: fixed;
    right:1rem;
    bottom: 5rem;
    height: 38px;
    overflow: visible;
}
 @media screen and (max-width:900px){
    .navbar-nav > .nav-item > .nav-link:hover{
        transition: all 0.5s ease-in-out;
        background-color: transparent;
        color: wheat;
    
    }
    .why{
        width: 100%;
    }
    #firstRow{
        display: flex;
    }
    #pageheader{
        font-size: 2rem;
    }
    #sum{
        width: 100%;
        color: var(--navyColor);
    }
}


/*@media screen and (max-width:600px){
    .navbar-nav > .nav-item > .nav-link{
        border: none;
        border-radius: 5px;
        margin: .5rem;
        color:  var(--navyColor);
        width: 6rem;
        background-color: transparent;
    }
    .navbar-nav > .nav-item > .nav-link:hover{
        border: none;
        border-radius: 5px;
        margin: .5rem;
        color: blue;
        width: 6rem;
        background-color: transparent;

    }
    .jumbotron{
        background-color: transparent;
        margin-top:1rem;
    }
    #pageheader{
        font-size: 2rem;
    }
    #image{
        width: 50px;
        height: 50px;
    }
    #sum{
        width: 100%;
        color: var(--navyColor);
    }
    #firstRow{
        display: grid;
        margin: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
} */



/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --primary-color:orange;
    --secondary-color:navy;
    --background:rgb(104, 95, 95);
    --header-font:2rem;
    --paragraph-font:1rem;
    --font-weight-normal:1rem;
    --font-weight-medium:2rem;
    --font-weight-large:3rem;
    --transition:all 0.5s ease-in-out;
}
body{
    background:url('../tecspot/images/backgroundImage.jpg');
}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 1rem;
    
}
.nav__items,.nav__links{
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    margin-right: 2rem;
    color: var(--primary-color);
    font-weight: var(--font-weight-medium);
    padding: 5px;
    border-radius: 5px;

}
li:hover{
    color: var(--secondary-color);
    background-color: rgb(235, 223, 223);
    transition: var(--transition);
}
.burger{
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: var(--transition);
    margin-top:1rem;
}
.burger > .burger__item{
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 2px;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: var(--transition);
}
.burger__item::before{
    content: '';
    width: 28px;
    height: 2px;
    border-radius: 15px;
    position: absolute;
    top: -8px;
    background-color: var(--primary-color);
    
}
.burger__item::after{
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 15px;
    position: absolute;
    top: 8px;
    background-color: var(--primary-color);
    
}
main{
    display: flex;
    padding: 1rem;
    line-height: 1.5;
}
h1{
    font-size: var(--header-font);
    font-weight: var(--font-weight-large);
}
p{
    font-size: var(--paragraph-font);
}
main > .about{
    width: 50%;
}
.footer{
    position: fixed;
    bottom: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
} */